*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    all: unset;
    cursor: pointer;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 46px;
    color: #fff;
}
h2{
    font-size: 36px;
    color:#425348;
}
p{
    font-size: 20px;
    color: #425348;
}

.s1{
    display: flex;
    align-items: flex-end;
    height: 2vw;
    margin-right: 20px;
    justify-content: flex-end;
}
.logo{
    width: auto;
    height: 7vh;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}
.front-page-pic{
    height: 70vh;
    width: 100vw;
    object-fit:cover;
    object-position: 0 20%; 
}

.s2{
    display: flex;
    flex-direction: column;
    background-color:#779882;
    height: 94vh;
    width: auto;
    margin-top: 1vh;
}
.s2 p{
    color: #fff;
    font-size: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 5px;
}

/*Section 3*/

.s3{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.submission-form{
    display: flex;
    flex-direction: row;
    width: 70vw;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #425348;
    border-radius: 30px;
    height: 30vh;
    width: 20vw;
    padding: 10px;
}

input[type="text"], input[type="email"]{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}
Input[type="submit"]{
    all: unset;
    background-color:#779882;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 8vw;
    margin-top: 10px;
    
    
}